/* CSS crunched with Crunch - http://crunchapp.net/ */
.margins{margin-left:auto;margin-right:auto}
.emphasize{font-weight:bold}.emphasize:hover{text-decoration:none}
.fonts{font-family:Arial,sans-serif}
body{background-color:#f5f5f5;color:black;font-size:1em;padding-top:4em;font-family:Arial,sans-serif;margin-left:auto;margin-right:auto}
.clearfix{clear:both}
footer{background-color:#f5f5f5;color:#8595A6;font-size:1em;padding:1em;text-align:center;clear:both}footer ul{list-style-type:none;margin:0;padding:0}
h2{font-size:1.3em}
a{text-decoration:none}a:hover{text-decoration:underline}
img{border:none;max-width:100%;height:auto;width:auto;margin-left:auto;margin-right:auto}
figcaption{text-align:center;font-weight:bold;margin-left:auto;margin-right:auto}figcaption:hover{text-decoration:none}
ol{list-style-type:decimal-leading-zero}
ul{list-style-type:circle}
.glyphicon{font-size:.75em;text-decoration:none}
.alert{font-weight:bold}
.navbar{border:0px}
.panel-body{padding:.5em}
.breadcrumb{font-weight:bold}
.tooltip .tooltip-inner{background-color:#DCEEF5;color:#000000}
